/*#unSchTree .el-tree-node {
  .is-leaf + .el-checkbox .el-checkbox__inner{
    display: none;
  }
  .el-checkbox .el-checkbox__inner{
	display: inline-block;
  }
}*/


#unSchTree .el-tree-node .is-leaf + .el-checkbox .el-checkbox__inner{
	display: none;
}