

.radiusBtns .el-radio-button--small .el-radio-button__inner {
	
	padding: 5px 15px !important;
	border: 1px solid #ffc63e !important;
	background: none !important;
	min-width: 40px;
	background-color: #fff !important;
	border-left: none !important;
	color: #606266;
}
.radiusBtns .el-radio-button__orig-radio:checked+.el-radio-button__inner{
	background-color: #ffc63e !important;
	color: #fff;
	box-shadow: 0px 0 0 0 #ffc63e !important;
	
}
.radiusBtns .el-radio-button:first-child .el-radio-button__inner{
	border-radius: 24px 0px 0px 24px;
	border-left: 1px solid #ffc63e !important;
}
.radiusBtns .el-radio-button:last-child .el-radio-button__inner{
	border-radius:  0px 24px 24px 0px ;
	border-right: 1px solid #ffc63e !important;
}
.radiusBtns .el-radio-button__orig-radio:checked+.el-radio-button__inner{
	box-shadow: 0px 0 0 0 #ffc63e !important;
}
.radiusBtns .el-radio-button__inner:hover{
	color: #ffc63e;
}
.radiusBtns.el-button--small.is-round{
	padding: 5px 15px !important;
	border: 1px solid #3894F6 !important;
	background-color: #eff3f9 !important;
	color: #3894F6;
}
.radiusBtns.el-button:focus, .radiusBtns.el-button:hover{
	background-color: #3894F6 !important;
	color: #fff;
}

.radioSwitchBtns .el-radio-button--small .el-radio-button__inner{
	padding: 8px 22px !important;
	
	color: #606266 !important;
	background-color: #E2F0FF;
	border: 1px solid #328FF1 !important;
	border-bottom: 1px solid #1d6fc6 !important;
	border-top: 1px solid #1d6fc6 !important;
	border-left: none !important;
}
.radioSwitchBtns .el-radio-button:first-child .el-radio-button__inner{
	border-radius: 4px 0px 0px 4px;
	border-left: 1px solid #1d6fc6 !important;
}
.radioSwitchBtns .el-radio-button:last-child .el-radio-button__inner{
	border-radius:  0px 4px 4px 0px ;
	border-right: 1px solid #1d6fc6 !important;
}
.radioSwitchBtns .el-radio-button__orig-radio:checked+.el-radio-button__inner{
	background-color: #328FF1 !important;
	box-shadow: 0px 0 0 0 #ffc63e !important;
	color: #fff !important;
}
